# Ignore everything in this directory
*
# Except this file
!.gitignore
!mtgbot.py
!dbupdate.py
!userreorg.py
!user.py
!sendallmsg.py
!*.example
!createdb.sql
!README.md
!LICENSE
!requirements.txt
!locales
!lib
!log
