token=xxxxxxxxxx      # Bot API Token
locale=de             # Language Settings

port=6000             # Port for webhook
reorgdays=180         # Days for reorg inactive users
allowmode=False       # toggle free/allow mode

dbname=tgbotdb        # Databse name
dbhost=127.0.0.1      # Database hostname
dbport=3306           # Database port
dbuser=rocketmapuser  # Database user
dbpassword=xxxxxxxxx  # Database user password

# startmsg=

venuetitle="<pkmn>(<pkmnid>)"
venuemsg="until <despawn>"

ivmsg="<pkmn>(<pkmnid>)\nIV:<iv> CP:<cp> L:<lvl>\nA:<atk>/D:<def>/S:<sta>\nuntil <despawn>\n<postcode> <town>\n<road>"

nominatim=False                 # enable Nominatim
nominatim_scheme=""             # Schema for Nominatim, default https
nominatim_url=""                # Nominatim URL, default nominatim.openstreetmap.org
                                # use your own like '<user>:<password>@your.FQDN.domain'
gmaps=False                     # enable Google
gmaps_apikey=""                 # Google API Key

geofile=""                      # Filename of the geofence file
